* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
}

a { 
    text-decoration: none; 
}

#vogelHeader {
    position:relative;
    display: inline-block;
    padding-bottom: 1rem;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

#vogelHeader .headerMain {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

#vogelHeader .headerMiddle {
    width: 1425px;
}

#vogelHeader .headerTitle {
    font-family: 'Alfa Slab One', cursive;
    font-size: 75px;
    color: black;
    text-align: center;
    padding-top: 15px;
    padding-left: 100px;
    padding-right: 100px;
}

#vogelHeader .headerText {
    font-size: 24px;
    text-align: center;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 15px;
}

#vogelHeader .buttons {
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

#vogelHeader .buttons a {
    color: inherit;
}

#vogelHeader .btn-warning {
    margin-left: 12px;
    margin-right: 12px; 
}

#vogelHeader .btn-outline-warning {
    margin-left: 12px;
    margin-right: 12px;
}

#wrapper{
    float: left;
}
 
#wrapper .searchField{
    width: 400px;
    height: 100%;
    position: relative;
}

#wrapper .input{
    width: 100%;
    height: 100%;
    font-size: 24px;
    margin-left: 3rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 2rem;
    border-radius: 25px;
    border-color: black;
}

#wrapper .birdCategories {
    list-style-type: none;
    width: 400px;
    height: 100%;
    padding: 0;
    margin-left: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 25px;
  }

#wrapper .birdCategories li {
    border: 1px solid #ddd;
    width: 100%;
    margin-top: -1px;
    background-color: rgba(245, 245, 245, 0.95);
    padding: 12px;
    font-size: 18px;
    display: block;
    margin-bottom: 0.5rem;
    border-radius: 15px;
  }
  
#wrapper .birdCategories li:hover {
    cursor: pointer;
}

#vogelCards {
    overflow: hidden;
    display: grid;
    padding-left: 15px;
    padding-right: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    justify-items: center;
}

#vogelCards .card {
    width: 100%;
    height: auto;
    margin: 15px 15px;
    transition: 1s ease;
    background-color: whitesmoke;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    border-radius: 25px;
}

#vogelCards .bonusCard {
    width: 100%;
    height: auto;
    margin: 15px 15px;
    transition: 1s ease;
    background-color: whitesmoke;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    border-radius: 25px;
}

#vogelCards .card img {
    width: 100%;
    border-radius: 25px;
}

#vogelCards .bonusCard img {
    width: 100%;
    border-radius: 25px;
}

#vogelCards .bird {
    text-align: center;
}

#vogelCards .birdName {
    padding-top: 10px;
    font-size: 25px;
}

#paging {
    overflow: hidden;
    display: flex;
    width: 300px;
    float: right;
}

#paging .btn-outline-warning {
    width: auto;
    margin-left: 6px;
}

#vogelDetailed {
    display: none;
    margin: auto;
    text-align: center;
    width: 50%;
}

#vogelDetailed .vogelDetailedCard {
    width: 100%;
    height: auto;
    margin: 15px 15px;
    transition: 1s ease;
    background-color: whitesmoke;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    border-radius: 25px;
    padding-bottom: 15px;
}

#vogelDetailed .vogelDetailedCard img {
    width: 100%;
    border-radius: 25px;
}

#vogelDetailed .detailedBird {
    text-align: center;
    padding-bottom: 10px;
}

#vogelDetailed .detailedBirdName {
    padding-top: 16px;
    padding-bottom: 20px;
    font-size: 35px;
}

#vogelDetailed .detailedBirdFact {
    font-size: 18px;
}

#vogelDetailed .fa-volume-high {
    font-size: 50px;
    color: darkslategrey;
}

#vogelDetailed .fa-volume-high:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#backToGrid {
    display: none;
}

@media(max-width: 1200px) {
    #vogelCards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    #wrapper .searchField{
        width: 300px;
    }

    #wrapper .birdCategories{
        width: 300px;
    }

    #vogelDetailed {
        width: 55%;
    }
}

@media(max-width: 900px) {
    #wrapper .searchField{
        width: 250px;
    }

    #wrapper .birdCategories{
        width: 250px;
    }

    #wrapper .input{
        font-size: 20px
    }
}

@media(max-width: 750px) {
    #wrapper .searchField{
        width: 200px;
    }

    #wrapper .birdCategories{
        width: 200px;
    }

    #wrapper .input{
        font-size: 15px
    }
}

@media(max-width: 700px) {
    #vogelCards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    #vogelDetailed {
        width: 70%;
    }
}

@media(max-width: 600px) {
    #vogelHeader .headerTitle {
        font-size: 56px;
    }

    #vogelHeader .headerText {
        font-size: 18px;
    }
}

@media(max-width: 480px) {
    #vogelHeader .headerTitle {
        font-size: 42px;
    }

    #vogelHeader .headerText {
        font-size: 14px;
    }

    #vogelHeader .buttons {
        padding-bottom: 0.5rem;
    }
    
    #vogelHeader .btn-warning {
        font-size: 14px 
    }
    
    #vogelHeader .btn-outline-warning {
        font-size: 14px;
    }

    #wrapper {
        float: none;
        margin: auto;
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }

    #wrapper .birdCategories {
        display: none;
    }

    #wrapper .searchField {
       margin-right: 20%;
    }

    #vogelCards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        padding-top: 20px;
    }

    #vogelCards .birdName {
        padding-top: 10px;
        font-size: 18px;
    }

    #paging {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-right: 15%;
    }

    #backToGrid {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 40%;
    }

    #vogelDetailed {
        width: 90%;
    }
}