* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    height: 95vh;
}

a { 
    text-decoration: none; 
}

#vogelHeader {
    position: relative;
    display: inline-block;
    padding-bottom: 1rem;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

#vogelHeader .headerMain {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px
}

#vogelHeader .headerMiddle {
    width: 1425px;
}

#vogelHeader .headerTitle {
    font-family: 'Alfa Slab One', cursive;
    font-size: 75px;
    color: black;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

#vogelHeader .headerText {
    font-size: 24px;
    text-align: center;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 15px;
}

#vogelHeader .buttons {
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

#vogelHeader .buttons a {
    color: inherit;
}

#vogelHeader .btn-warning {
    margin-left: 12px;
    margin-right: 12px; 
}

#vogelHeader .btn-outline-warning {
    margin-left: 12px;
    margin-right: 12px;
}

#vogelCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    height: 600px;
}

#vogelCards .choiceDifficulty {
    position: relative;
    width: auto;
    min-height: 450px;
    height: auto;
    margin-bottom: auto;
    margin: 15px 15px;
    cursor: pointer;
    transition: 1s ease;
    background-color: rgba(245, 245, 245, 0.8);
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    border-radius: 25px;
    color: black;
}

#vogelCards .choiceDifficulty img {
    width: 100%;
    border-radius: 25px;
}

#vogelCards .choiceDifficulty:hover .image {
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#vogelCards .bird {
    padding: 20px;
    text-align: center;
}

@media(max-width: 950px) {
    #vogelCards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    #vogelCards .choiceDifficulty {
        height: auto;
    }
}

@media(max-width: 700px) {
    #vogelCards {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(max-width: 600px){
    #vogelHeader .headerTitle {
        font-size: 56px;
    }

    #vogelHeader .headerText {
        font-size: 18px;
    }
}

@media(max-width: 480px){
    #vogelHeader .headerTitle {
        font-size: 42px;
    }

    #vogelHeader .headerText {
        font-size: 14px;
        padding-left: 25px;
        padding-right: 25px;
    }

    #vogelHeader .buttons {
        padding-bottom: 0.5rem;
    }
    
    #vogelHeader .btn-warning {
        font-size: 14px 
    }
    
    #vogelHeader .btn-outline-warning {
        font-size: 14px;
    }

    #vogelCards .bird h2 {
        font-size: 24px;
    }

    #vogelCards .bird p {
        font-size: 14px;
    }

    #vogelCards .choiceDifficulty {
        min-height: 200px;
    }
}