* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

a { 
    text-decoration: none; 
}

#vogelHeader {
    position:relative;
    display: inline-block;
    padding-bottom: 1rem;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

#vogelHeader .headerMain {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

#vogelHeader .headerTitle {
    font-family: 'Alfa Slab One', cursive;
    font-size: 75px;
    color: black;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

#vogelHeader .buttons {
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

#vogelHeader .buttons a {
    color: inherit;
}

#vogelHeader .btn-warning {
    margin-left: 12px;
    margin-right: 12px; 
}

#vogelHeader .btn-outline-warning {
    margin-left: 12px;
    margin-right: 12px;
}

#mainQuiz {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#mainQuiz .questionImage {
    position: relative;
    margin: 0px 20px;
    border-radius: 25px;
    display: none;
}

#mainQuiz .questionImage img {
    width: 100%;
    border-radius: 25px;
}

#mainQuiz .questionAudio {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#mainQuiz .audioLogo {
    padding-bottom: 3rem;
}

#mainQuiz .audioLogo:hover {
    transform: scale(1.25);
    cursor: pointer;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#mainQuiz .audioHtml {
    padding-top: 1rem;
}

#mainQuiz .duringQuestions {
    display: inline;
}

#mainQuiz .question {
    display: flex;
    justify-content: center;
    font-size: 32px;
    padding-bottom: 15px;
}

#mainQuiz .questionAlt {
    display: none
}

#mainQuiz .choice {
    display: flex;
    width: 98%;
    height: 3.5rem;
    margin-top: 6px;
    margin-bottom: 12px;
    border-radius: 15px;
    background: WhiteSmoke;
    font-size: 1.5rem;
    min-width: 40rem;
}

#mainQuiz .choice:hover {
    display: pointer;
    cursor: pointer;
    box-shadow: 0 0.2rem 0.5rem 0 rgba(240, 240, 240, 0.8);
    transform: scale(1.02);
    transition: transform 100ms;
}

#mainQuiz .choicePrefix {
    padding: 0.75rem 1.5rem;
    color: black;
}

#mainQuiz .choiceText {
    padding: 22px;
    margin: -10px;
    width: 100%;
}

#mainQuiz .end {
    display: none;
}

#mainQuiz .end h1 {
    font-size: 60px;
    color: black;
    text-align: center;
    padding: 32px;
    margin-top: 3rem;
}

#mainQuiz .end h2 {
    font-size: 30px;
    color: black;
    text-align: center;
    padding: 16px;
}

#mainQuiz .buttonsEnd {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

#mainQuiz .btn-warning {
    margin-left: 18px;
    margin-right: 18px;
}

@media(max-width: 1300px) {
    #mainQuiz .choice {
        min-width: 25rem;
    }
}

@media(max-width: 1100px) {
    #mainQuiz .choice {
        min-width: 18rem;
    }
}

@media(max-width: 950px) {
    #mainQuiz .choice {
        min-width: 12rem;
    }
}

@media(max-width: 850px) {
    #mainQuiz {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #mainQuiz .question {
        display: none;
    }

    #mainQuiz .questionAlt {
        order: 1;
        display: flex;
        justify-content: center;
        font-size: 32px;
        padding-bottom: 15px;
    }

    #mainQuiz .questionImage {
        display: inline-block;
        text-align: center;
    }

    #mainQuiz .questionImage img {
        order: 2;
        width: 65%;
        text-align: center;
        border-radius: 25px;
    }

    #mainQuiz .choice {
        height: 3rem;
        font-size: 1.25rem;
        min-width: 30rem;
    }
    
    #mainQuiz .choicePrefix {
        padding: 0.5rem 1.5rem;
    }
    
    #mainQuiz .choiceText {
        padding: 18px;
        margin: -10px;
    }
}

@media(max-width: 700px) {
    #mainQuiz .questionImage img {
        width: 80%;
    }

    #mainQuiz .choice {
        min-width: 32rem;
    }
}

@media(max-width: 600px) {
    #vogelHeader .headerTitle {
        font-size: 56px;
    }

    #mainQuiz .questionImage img {
        width: 90%;
    }

    #mainQuiz .choice {
        min-width: 28rem;
    }
}

@media(max-width: 480px) {
    #vogelHeader .headerTitle {
        font-size: 42px;
    }

    #vogelHeader .buttons {
        padding-bottom: 0.5rem;
    }
    
    #vogelHeader .btn-warning {
        font-size: 14px 
    }
    
    #vogelHeader .btn-outline-warning {
        font-size: 14px;
    }

    #mainQuiz .choice {
        min-width: 24rem;
    }

    #mainQuiz .choice:hover {
        transform: scale(1);
    }

    #mainQuiz .audioLogo {
        padding-bottom: 1rem;
    }

    #mainQuiz .audioHtml {
        padding-bottom: 1rem;
    }
}

@media(max-width: 420px) {
    #mainQuiz .choice {
        min-width: 21rem;
    }
}