* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    height: 95vh;
}

a { 
    text-decoration: none; 
}

#vogelHeader {
    position: relative;
    display: inline-block;
    padding-bottom: 1rem;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

#vogelHeader .headerMain {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

#vogelHeader .headerMiddle {
    width: 1425px;
}

#vogelHeader .headerTitle {
    font-family: 'Alfa Slab One', cursive;
    font-size: 75px;
    text-align: center;
    color: black;
    padding-left: 100px;
    padding-right: 100px;
}

#vogelHeader .headerText {
    font-size: 24px;
    text-align: center;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 15px;
}

#vogelHeader .buttons {
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

#vogelHeader .buttons a {
    color: inherit;
}

#vogelHeader .btn-warning {
    margin-left: 12px;
    margin-right: 12px; 
}

#vogelHeader .btn-outline-warning {
    margin-left: 12px;
    margin-right: 12px;
}

#vogelCards {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

#vogelCards .card {
    position: relative;
    width: auto;
    height: auto;
    margin: 15px 15px;
    cursor: pointer;
    transition: 1s ease;
    background-color: rgba(245, 245, 245, 0.8);
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    border-radius: 25px;
}

#vogelCards .card:hover {
    transform: scale(1.1);
}

#vogelCards .card img {
    width: 100%;
    border-radius: 25px;
}

#vogelCards .card:hover .image {
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#vogelCards .bird {
    padding: 20px;
    text-align: center;
}

#vogelCards .middle {
    position: absolute;
    top: 30%;
    left: 50%;
    opacity: 0;
    transition: .5s ease;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

#vogelCards .fa-volume-high {
    font-size: 70px;
    color: darkslategrey;
}

#vogelCards .card:hover .middle {
    opacity: 1;
}

.linkedIn {
    text-align: center;
    padding-bottom: 10px;
}

.linkedIn a {
    position: relative;
}

.linkedIn img {
    height: 70px;
    width: auto;
    border-radius: 100%;
}

@media(max-width: 1200px) {
    #vogelCards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    #vogelCards .card:hover {
        transform: scale(1.05);
    }
}

@media(max-width: 700px) {
    #vogelCards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    #vogelCards .card:hover {
        transform: scale(1.01);
    }
}

@media(max-width: 600px) {
    #vogelHeader .headerTitle {
        font-size: 56px;
    }

    #vogelHeader .headerText {
        font-size: 18px;
    }
}

@media(max-width: 480px) {
    #vogelHeader .headerTitle {
        font-size: 42px;
    }

    #vogelHeader .headerText {
        font-size: 14px;
    }

    #vogelHeader .buttons {
        padding-bottom: 0.5rem;
    }
    
    #vogelHeader .btn-warning {
        font-size: 14px 
    }
    
    #vogelHeader .btn-outline-warning {
        font-size: 14px;
    }

    #vogelCards .bird h1 {
        font-size: 24px;
    }

    #vogelCards .bird p {
        font-size: 14px;
    }
}